RetailWarehouseADF/PartialArmTemplates/ArmTemplate_6_24_2021_10_37_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "RetailWarehouseADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Delta_Load_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from dbo.config where Enabled=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ConfigTable",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter_Sql_Tables",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'SQLVM')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Filter_FlatFiles",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'FileSystem')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach-SQL tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Sql_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_Sql_Tables').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition Based on Type of Load",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "CopyFull Load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "IncrementalSQLRetailOnprem",
														"type": "DatasetReference",
														"parameters": {
															"TableName": "@{item().Source_Table}"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "IncrementalSinkDataLake",
														"type": "DatasetReference",
														"parameters": {
															"StagingFileName": "@{item().Dest_Table}"
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "get max of Last MaxUpdateDate Config",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select Watermark_Value from dbo.config where Source_Table like '@{item().Source_Table}'",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ConfigTable",
														"type": "DatasetReference"
													},
													"firstRowOnly": true
												}
											},
											{
												"name": "Copy Delta load from Tables to ADLS",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "get max of Last MaxUpdateDate Config",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "dbo.@{concat('substring(''', item().Source_Table, ''',4,string(length(''', item().Source_Table, ''')))')}"
													},
													{
														"name": "Destination",
														"value": "staging//@{item().Dest_Table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().Source_Table}\nwhere \nconvert(datetime,@{item().Watermark_Column},105) >\nconvert(datetime,substring(\nreplace('@{activity('get max of Last MaxUpdateDate Config').output.firstRow.Watermark_Value}',\n'T',' '),0,20),120)\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "IncrementalSQLRetailOnprem",
														"type": "DatasetReference",
														"parameters": {
															"TableName": {
																"value": "substring('@{item().Source_Table}',4,string(length('@{item().Source_Table}')))",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "IncrementalSinkDataLake",
														"type": "DatasetReference",
														"parameters": {
															"StagingFileName": "@{item().Dest_Table}"
														}
													}
												]
											},
											{
												"name": "Update Config Watermark",
												"description": "Update config Tables' Watermark Values based on the last modified date of records in tables staged to ADLS.",
												"type": "ExecuteDataFlow",
												"dependsOn": [
													{
														"activity": "Set Watermark_Filed",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "UpdateConfigLastModDate",
														"type": "DataFlowReference",
														"parameters": {
															"SourceTable": {
																"value": "'@{variables('sourceFile')}'",
																"type": "Expression"
															},
															"WaterMarkField": {
																"value": "'@{variables('WatermarkField')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"source1": {
																"StagingFileName": "@{item().Dest_Table}"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "None",
													"cacheSinks": {
														"firstRowOnly": true
													}
												}
											},
											{
												"name": "Set SourceFile",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Copy Delta load from Tables to ADLS",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "sourceFile",
													"value": {
														"value": "@{item().Dest_Table}",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set Watermark_Filed",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set SourceFile",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "WatermarkField",
													"value": {
														"value": "@{item().Watermark_Column}",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "update cfg status",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "If Condition Based on Type of Load",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "update dbo.config \nset Status = 'Success' where Dest_Table = '@{item().Dest_Table}'\n\nselect 1",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ConfigTable",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach-FlatFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_FlatFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_FlatFiles').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AllFlatFiles",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().Source_Table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "IncrementalSinkDataLake",
											"type": "DatasetReference",
											"parameters": {
												"StagingFileName": "@item().Dest_Table"
											}
										}
									]
								},
								{
									"name": "update cfg status_copy1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "update dbo.config \nset Status = 'Success' where Dest_Table = '@{item().Dest_Table}';\nselect 1",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ConfigTable",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Oracle Tables",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().Source,'OracleVM')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachOracleTables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Oracle Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Oracle Tables').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().Load_Flag,'Incremental'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "get max of Last MaxUpdateDate Config_copy1",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select Watermark_Value from dbo.config where Source_Table like '@{item().Source_Table}'",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ConfigTable",
														"type": "DatasetReference"
													},
													"firstRowOnly": true
												}
											},
											{
												"name": "set_oracleschema",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "get max of Last MaxUpdateDate Config_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "OracleSchemTable",
													"value": {
														"value": "@item().Source_Table",
														"type": "Expression"
													}
												}
											},
											{
												"name": "set_oracleTable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "set_oracleschema",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "OracleTable",
													"value": {
														"value": "@substring(variables('OracleSchemTable'),7,sub(length(variables('OracleSchemTable')),7))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "set_oracleTable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "select * from @{item().Source_Table} where \nto_date(@{item().Watermark_Column},'DD-MM-YYYY')>\nto_date(substr('@{activity('get max of Last MaxUpdateDate Config_copy1').output.firstrow.Watermark_Value}',1,10),'YYYY-MM-DD');",
															"type": "Expression"
														},
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ""
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "OnPremOracleProducts",
														"type": "DatasetReference",
														"parameters": {
															"Table": {
																"value": "@variables('OracleTable')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "IncrementalSinkDataLake",
														"type": "DatasetReference",
														"parameters": {
															"StagingFileName": {
																"value": "@item().Dest_Table",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "update cfg status_copy",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "update dbo.config \nset Status = 'Success' where Dest_Table = '@{item().Dest_Table}'\n\nselect 1",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ConfigTable",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"sourceFile": {
						"type": "String"
					},
					"WatermarkField": {
						"type": "String"
					},
					"OracleSchemTable": {
						"type": "String"
					},
					"OracleTable": {
						"type": "String"
					}
				},
				"annotations": [
					"pdl"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Full_Load_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CustomerTable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.Customer"
							},
							{
								"name": "Destination",
								"value": "staging//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "customer_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DOB",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DOB",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "city_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Created_Modified_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Created_Modified_Date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CustomerTableOnprem",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Staging_All_Data",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TransactionTable",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CustomerTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.Transactions"
							},
							{
								"name": "Destination",
								"value": "staging//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "transaction_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cust_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "cust_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tran_date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "tran_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "prod_subcat_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "prod_subcat_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "prod_cat_code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "prod_cat_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Qty",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tax",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tax",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_amt",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "total_amt",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Store_type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Store_type",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TransactionsTableOnPrem",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Staging_All_Data",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ProductCatSubCat",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TransactionTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/Product-Category-Subcategory.csv"
							},
							{
								"name": "Destination",
								"value": "staging//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "prod_cat_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_cat_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "prod_cat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_cat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "prod_sub_cat_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_sub_cat_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "prod_subcat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "prod_subcat",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ProductCatSubCat_FileSystem",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Staging_All_Data",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [
					"pdl"
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Full_Load_Pipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2021-06-23T00:00:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Full_Load_Pipeline')]"
			]
		}
	]
}