pipeline/Delta_Load_Pipeline.json
{
	"name": "Delta_Load_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.config where Enabled=1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ConfigTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_Sql_Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'SQLVM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_FlatFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'FileSystem')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-SQL tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Sql_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Sql_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition Based on Type of Load",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyFull Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "IncrementalSQLRetailOnprem",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{item().Source_Table}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "IncrementalSinkDataLake",
												"type": "DatasetReference",
												"parameters": {
													"StagingFileName": "@{item().Dest_Table}"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "get max of Last MaxUpdateDate Config",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select Watermark_Value from dbo.config where Source_Table like '@{item().Source_Table}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ConfigTable",
												"type": "DatasetReference"
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "Copy Delta load from Tables to ADLS",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "get max of Last MaxUpdateDate Config",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "dbo.@{concat('substring(''', item().Source_Table, ''',4,string(length(''', item().Source_Table, ''')))')}"
											},
											{
												"name": "Destination",
												"value": "staging//@{item().Dest_Table}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().Source_Table}\nwhere \nconvert(datetime,@{item().Watermark_Column},105) >\nconvert(datetime,substring(\nreplace('@{activity('get max of Last MaxUpdateDate Config').output.firstRow.Watermark_Value}',\n'T',' '),0,20),120)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "IncrementalSQLRetailOnprem",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "substring('@{item().Source_Table}',4,string(length('@{item().Source_Table}')))",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "IncrementalSinkDataLake",
												"type": "DatasetReference",
												"parameters": {
													"StagingFileName": "@{item().Dest_Table}"
												}
											}
										]
									},
									{
										"name": "Update Config Watermark",
										"description": "Update config Tables' Watermark Values based on the last modified date of records in tables staged to ADLS.",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "Copy Delta load from Tables to ADLS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "UpdateConfigLastModDate",
												"type": "DataFlowReference",
												"parameters": {
													"SourceTable": {
														"value": "'substring('string('@{item().Dest_Table}')',1,length('string('@{item().Dest_Table}')')-1)'",
														"type": "Expression"
													},
													"WaterMarkField": {
														"value": "'substring('string('@{item().Watermark_Column}')',1,length('string('@{item().Dest_Table}')')-1)'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"StagingFileName": "@{item().Dest_Table}"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "None",
											"cacheSinks": {
												"firstRowOnly": true
											}
										}
									}
								]
							}
						},
						{
							"name": "update cfg status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If Condition Based on Type of Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "update dbo.config \nset Status = 'Success' where Dest_Table = '@{item().Dest_Table}'\n\nselect 1",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ConfigTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach-FlatFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_FlatFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_FlatFiles').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AllFlatFiles",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().Source_Table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IncrementalSinkDataLake",
									"type": "DatasetReference",
									"parameters": {
										"StagingFileName": "@item().Dest_Table"
									}
								}
							]
						},
						{
							"name": "update cfg status_copy1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "update dbo.config \nset Status = 'Success' where Dest_Table = '@{item().Dest_Table}';\nselect 1",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ConfigTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}